/* 1--.activity-selection */
.activity-selection {
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.activities, .selected-activities {
    margin-top: 10px;
    color: black;
}

.activity {
    padding: 8px;
    color: black;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin: 5px 0;
    transition: background-color 0.3s;
}

.activity.selected {
    background-color: #69b3a2; /* Green for selected activities */
}

.activity.rejected {
    background-color: #ff6b6b; /* Red for rejected activities */
}

.explanation {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 500px) {
    .activity-selection {
        margin: 5px;
        padding: 5px;
    }

    .activities, .selected-activities {
        margin-top: 5px;
    }

    .activity {
        padding: 5px;
    }

    .explanation {
        margin-top: 5px;
        font-size: 14px;
    }
}