.btv-nqueens-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.btv-nqueens-board {
  display: grid;
  gap: 2px;
  justify-content: center;
  margin: 20px auto;
}

.btv-nqueens-cell {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.btv-nqueens-cell--queen {
  background-color: #ffcccb;
}

.btv-nqueens-message {
  margin-top: 20px;
  max-width: 600px;
  text-align: left;
  font-size: 16px;
  color: white;
}

.btv-nqueens-message h3 {
  margin-bottom: 10px;
  color: #007bff;
}
 
@media (max-width: 480px) {
  .btv-nqueens-container {
    margin-top: 10px; /* Reduce margin */
  }

  .btv-nqueens-board {
    gap: 1px; /* Reduce gap */
  }

  .btv-nqueens-cell {
    width: 30px; /* Smaller cells */
    height: 30px;
    font-size: 14px; /* Smaller font size */
  }

  .btv-nqueens-message {
    font-size: 14px; /* Smaller font size */
    max-width: 90%; /* Adjust width for small screens */
  }

  .btv-nqueens-message h3 {
    font-size: 16px; /* Smaller heading size */
  }
}